* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #194d33;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#start-date,
#end-date {
    margin: 5px;
    padding: 5px;
}

#go {
    cursor: pointer;
    padding: 6px 15px;
}

#table {
    width: 390px;
    background-color: #fff;
    margin: 0 auto;
}

#table table {
    text-align: center;
}
